::selection{
    background: rgb(0, 255, 0);
    color: black;
}
@font-face{
    src: url('/ttf/MC.ttf');
    font-family: 'MC';
}
footer{
    background-color: black;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}
img.cfl{
    margin-right: 30px;
}
#copyright{
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
}
::selection{
    background: rgb(0, 255, 0);
    color: black;
}