/* ICP STYLE */
.icp{
    vertical-align: middle;
}
/* icp.gov.moe */
#icp-moe{
    text-decoration: none;
    color: rgb(255, 0, 150);
}
#icp-moe-code:hover{
    color: rgb(0, 255, 0);
    background-color: black;
    border-radius: 3px;
}
#icp-moe-icon{
    width: 25px;
    vertical-align: middle;
}